.sidebar {
    flex: 0.15;
    margin-left: 10px;
    
}

.sidebar > hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 45px;
    
}